            <div class="space-sticky"></div>
            <section class="un-creator-ptofile">
                <!-- head -->
                <div class="head">
                    <div class="cover-image">
                        <picture>
                            <source srcset="assets/assetsryal/images/other/20.webp" type="image/webp">
                            <img src="assets/assetsryal/images/other/20.jpg" alt="cover image">
                        </picture>
                    </div>
                    <div class="text-user-creator">
                        <div class="d-flex align-items-center">
                            <div class="user-img">
                                <picture *ngIf="_butler.preview.name !=undefined">
                                    <source srcset="{{_butler.preview.images[0]}}" type="image/webp">
                                    <img src="{{_butler.preview.images[0]}}" alt="creator image">
                                </picture>
                                <i class="ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="text">
                                <h3>{{_butler.preview.name}}</h3>
                                <p>{{_butler.preview.ategoria}}</p>
                            </div>
                        </div>
                        <button type="button" (click)="delete()" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#mdllUploadItem" class="btn btn-copy-address mt-3">
                            
                                <i class="ri-delete-bin-fill text-danger"></i>
                         
                        </button>
                    </div>
                </div>
                <div class="body">
                    <div class="item-followers">
                        <a 
                            class="btn btn-md-size text-white btn-edit-profile rounded-pill">
                            {{_butler.preview.categoria}}
                        </a>
                    </div>
                    <div class="description">
                        <p>
                            Tickets  
                            <a class="read-more" data-bs-toggle="modal" data-bs-target="#mdllBioDetails"></a>
                        </p>
                    </div>
                </div>
             </section>
                
            
            <section class="margin-t-20 unList-bestSeller">
                <div class="content-list-sellers">
                    <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let ticket of tickets" [hidden]="ticket.statusClose!='pending' || ticket.stylist!=_butler.preview.name" >
                            <div class="nav-link item-user-seller">
                                <a class="item-user-img"  style="cursor: pointer;" >
                                    <div class="txt-user">
                                        <h5 > {{ticket.createdAt | date:'dd/MM/yyyy'}} <span style="color:red;"> #</span> <span style="color:red;">{{ticket.npedido}}     </span></h5>
                                        <p>Estilista. {{ticket.stylist}} </p>
                                        <p>Cte. {{ticket.customer}} </p>
                                    </div>
                                </a>
                                <div class="other-option"  style="margin-right:2%; cursor: pointer;">
                                    <div class="color-text rounded-pill bg-snow btn-xs-size " 
                                        data-bs-toggle="modal" data-bs-target="#mdllTicket" (click)="openModalTicket(7,ticket)">
                                        <i class="ri-eye-line text-primary" style="font-size: 1.3rem; margin-right: 10%; font-weight: initial;"> 
                                        </i>
                                     {{ticket.total |  number :'1.0'}} 
                                    </div>
                                </div>
                            </div>
                        </li>                       
                    </ul>
                </div>     
            </section>