<!-- <div style="padding-top: 50%;">
    <ul>
        <li>
            <a (click)="login( 'ben' )">Login as Ben</a>
        </li>
        <li>
            <a (click)="login( 'kim' )">Login as Kim</a>
        </li>
    </ul>
</div>
<div >
    <p>
        <strong>Logged-in as {{ user }}</strong>.
        <a (click)="logout()">Logout</a>.
    </p>
    <ul>
        <li *ngFor="let friend of friends">
            {{ friend.name }} 
            &mdash;
            <a (click)="deleteFriend( friend )">Delete</a>
        </li>
    </ul>
    <div class="form">
        <input 
            type="text"
            [value]="addForm.name"
            (keydown.Enter)="processAddForm()" 
        />
        <button type="button" (click)="processAddForm()">Add Friend</button>
    </div>
</div> -->